<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_content(title)">
	<div class="container">
		<div class="input-form-backgroud row">
			<div class="input-form col-md-12 mx-auto">

				<h4 class="mb-3">[[${title}]]</h4>



				<!-- Header Start -->
				<div class="container-fluid page-header">
					<div class="container">
						<div class="d-flex flex-column align-items-center justify-content-center"
							style="min-height: 400px">
							<h3 class="display-4 text-white text-uppercase">[[${title}]]</h3>
							<div class="d-inline-flex text-white">
								<p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
								<i class="fa fa-angle-double-right pt-1 px-3"></i>
								<p class="m-0 text-uppercase">Blog Detail</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Header End -->
				
			<div class="container mt-5">
    		<h2 class="mb-4">게시판 목록</h2>
    		<table class="table table-striped">
        			<thead>
            		<tr>
                		<th>제목</th>
                		<th>작성자</th>
                		<th>작성일자</th>
            		</tr>
        			</thead>
        		<tbody>
            		<tr th:each="board : ${boards}">
						
                		<td>
                    		<!-- 게시글 제목 클릭 시 상세 페이지로 이동 -->
                    		<a th:href="@{/board/selectOne(boardNum=${board.boardNum})}" th:text="${board.boardTitle}">게시글 제목</a>
                		</td>
                		<td th:text="${board.boardWriter}">작성자</td>
                		<td th:text="${board.boardDate}">작성일</td>
                		
            		</tr>
        		</tbody>
    		</table>
    		
    		 <!-- 페이지네이션 링크 -->
                    <div style="text-align: center;">
                        <th:block th:each="i : ${#numbers.sequence(1,totalPageCount)}">
                            <a th:href="|selectAll?cpage=${i}|" th:text="${i}" class="page-link">[[${i}]]</a>
                        </th:block>
                    </div>
                    
                    <!-- 글 작성 버튼 -->
                    <div class="text-right mt-4">
                        <a href="/board/insert" class="btn btn-primary">글쓰기</a>
                    </div>
			</div>
				
				

				
			</div>
		</div>
	</div>
</div>


</html>