<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_content(title)">
	<div class="container">
		<div class="input-form-backgroud row">
			<div class="input-form col-md-12 mx-auto">

				<h4 class="mb-3">[[${title}]]</h4>

				<!-- Search Form start
				<div class="mb-5">
					<div class="bg-white" style="padding: 30px;">
						<div class="input-group">
							<form class="form-inline my-2 my-lg-0 justify-content-end" action="tourSearchList">
								<select class="selectpicker" name="searchKey">
									<option value="address">주소</option>
									<option value="tourName">여행지이름</option>
								</select>

								<input class="form-control mr-sm-2" type="search" placeholder="Search"
									aria-label="Search" name="searchWord" value="ad">
								<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
							</form>
						</div>
					</div> -->
				<!-- Search Form end-->


				<table class="table">
					<thead>
						<tr>
							<th scope="col">번호</th>
							<th scope="col">가이드북 이름</th>
							<th scope="col">제작자</th>
							<th scope="col"></th>
							<th scope="col"></th>
							<th scope="col"></th>
							<th scope="col"></th>
							<th scope="col"></th>

						</tr>
					</thead>
					<tbody>
						<th:block th:each="vo, iterStat : ${vos}">
							<tr>
								<th scope="row">
										<span th:text="${iterStat.index + 1}"></span></a></th>
								<td><a th:href="@{|/route/${vo.routeName}?routeName=${vo.routeName}|}">
										<span th:text="${vo.routeName}"></span></a></td>
								<th><span th:text="${vo.routeUserId}"></span></th>
							</tr>
						</th:block>

					</tbody>
					<tfoot>
						<tr>
							<td colspan="6">
								<th:block th:each="i : ${#numbers.sequence(1,totalPageCount)}">
									<th:block th:if="${param.searchKey}== null">
										<a th:href="|/route/list?cpage=${i}|">[[${i}]] &nbsp;</a>
									</th:block>
								</th:block>
							</td>
						</tr>
					</tfoot>
				</table>

			</div>
		</div>
	</div>
</div>

</html>