<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_content(mypage)">
	<div class="container" style="padding-top: 30px; padding-bottom: 200px;">
	<div class="mypage-wrapper">
		<div class="profile-section" >
<!--			 프로필 이미지 
			<div class="profile-picture" th:if="${memberVO.memberImg != null}"
     th:style="'background-image:url(/resources/img/' + ${memberVO.memberImg} + ');'"></div>-->
			<div class="profile-picture">
				<img class="img-fluid" th:if="${memberVO.memberImg != null}"
            th:src="@{'/uploadimgPath/' + ${member2.memberImg}}" alt="이미지대체텍스트" />
			</div>
			<!-- 회원 이름 표시 -->
			<div class="profile-info">
				<div class="user-name" th:text="${memberVO.memberName} + '님'">이름이 없는 회원님</div>
			</div>
		</div>
		<div class="menu-section">
			<div class="menu-title">마이페이지</div>
			<ul>
				<li><a href="/member/updateMemberInfo">개인정보 수정</a></li>
				<li><a href="/cart">장바구니</a></li>
				<li><a href="/wishList">즐겨찾기</a></li>
				<li><a href="/tripRecord">여행기록</a></li>
				<li><a href="/buyList/list">구매 내역</a></li>
				<li><a href="/product/sellList">판매 내역</li>
				<li><a href="/routeList">가이드북</a></li>

			</ul>
		</div>
<!--		<a href="/logout" class="logout-link">로그아웃</a>-->
	</div>
	</div>
	</div>
</html>