<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>판매자 상세 정보</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="Free HTML Templates" name="keywords">
	<meta content="Free HTML Templates" name="description">



	<!-- Customized Bootstrap Stylesheet -->
	<link href="/css/style.css" rel="stylesheet">
</head>

<body>
	<h1>판매자 상세 정보</h1>
	<div>
		<p>이름: <span th:text="${seller.memberName}"></span></p>
		<p>이메일: <span th:text="${seller.memberEmail}"></span></p>
		<p>전화번호: <span th:text="${seller.memberTel}"></span></p>
		<!-- 기타 필요한 정보 추가 -->
		<!-- 팔로우 버튼 -->
		<form action="/followMember/{memberId}" method="post">
			<button type="submit">팔로우</button>
		</form>
	</div>
	<a th:href="@{/}">홈으로</a>

	<!-- Service Start -->
	<div class="container-fluid py-5">
		<div class="container pt-5 pb-3">
			<div class="text-center mb-3 pb-3">
				<h1>판매자리뷰</h1>
			</div>

			<!-- 테이블 -->
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th scope="col">번호</th>
						<th scope="col">리뷰내용</th>
						<th scope="col">작성일시</th>
						<th scope="col">작성자</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="vo, rowStat : ${vos}">
						<tr>
							<td><input scope="row" type="hidden" th:value="${vo.selrevNum}"></td>
							<td><input scope="row" type="hidden" th:value="${vo.selrevId}"></td>
							<td><span scope="row" th:text="${rowStat.count}"></span></td>
							<td><span scope="row" th:text="${vo.selrevContent}"></span></td>
							<td><span scope="row" th:text="${vo.selrevDate}"></span></td>
							<td><span scope="row" th:text="${vo.selrevWriter}"></span></td>
							<td><a th:href="@{deleteOK(selrevId=${vo.selrevId},selrevNum=${vo.selrevNum})}">삭제</a></td>
							<td>
								<button class="modify">수정</button>
							</td>
							<td>
								<button class="report">신고하기</button>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>

			<!-- Modify Modal -->
			<div id="modifyModal" class="modal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">리뷰 수정</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form id="modifyForm">
								<input type="hidden" id="selrevNum" name="selrevNum">
								<input type="hidden" id="selrevId" name="selrevId">
								<div class="form-group">
									<label for="editSelrevContent">리뷰내용</label>
									<input type="text" class="form-control" id="editSelrevContent" name="selrevContent">
								</div>
								<div class="form-group">
									<label for="editSelrevDate">작성일시</label>
									<input type="text" class="form-control" id="editSelrevDate" name="selrevDate"
										readonly>
								</div>
								<div class="form-group">
									<label for="editSelrevWriter">작성자</label>
									<input type="text" class="form-control" id="editSelrevWriter" name="selrevWriter"
										readonly>
								</div>
								<button type="submit" class="btn btn-primary">수정 완료</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Modify Modal -->
			<div id="modifyModal" class="modal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">리뷰 수정</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form id="modifyForm">
								<input type="hidden" id="selrevNum" name="selrevNum">
								<input type="hidden" id="selrevId" name="selrevId">
								<div class="form-group">
									<label for="editSelrevContent">리뷰내용</label>
									<input type="text" class="form-control" id="editSelrevContent" name="selrevContent">
								</div>
								<div class="form-group">
									<label for="editSelrevDate">작성일시</label>
									<input type="text" class="form-control" id="editSelrevDate" name="selrevDate"
										readonly>
								</div>
								<div class="form-group">
									<label for="editSelrevWriter">작성자</label>
									<input type="text" class="form-control" id="editSelrevWriter" name="selrevWriter"
										readonly>
								</div>
								<button type="submit" class="btn btn-primary">수정 완료</button>
							</form>
						</div>
					</div>
				</div>
			</div>

			<!-- report Modal -->
			<div id="reportModal" class="modal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">신고하기</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form id="reportForm">
								<input type="hidden" id="reportCategory" name="reportCategory">
								<div class="form-group">
									<label for="reportReportedId">리뷰 작성자</label>
									<input type="text" class="form-control" id="reportReportedId"
										name="reportReportedId" readonly>
								</div>
								<div class="form-group">
									<label for="reportContent">신고내용</label>
									<input type="text" class="form-control" id="reportContent" name="reportContent"
										readonly>
								</div>
								<div class="form-group">
									<label for="reportReview">신고사유</label>
									<input type="text" class="form-control" id="reportReview" name="reportReview">
								</div>
								<div class="form-group">
									<label for="reportReportId">신고자</label>
									<input type="text" class="form-control" id="reportReportId" name="reportReportId"
										readonly>
								</div>
								<button type="submit" class="btn btn-primary">신고</button>
							</form>
						</div>
					</div>
				</div>
			</div>


			<!--판매자리뷰 추가용 임시 product 폼-->
			<form method="get" action="/seller/insertOK">
				<input type="hidden" name="selrevId" th:value=${seller.memberId}>
				<p><label>리뷰내용 : <input type="text" name="selrevContent"></label></p>
				<p><label>작성일시 : <input type="text" name="selrevDate" id="selrevDate2"></label></p>
				<p><label>작성자 : <input type="text" name="selrevWriter" th:value="${member.memberId}" readonly></label></p>
				<p><input type="submit" value="리뷰 추가 버튼"></p>
			</form>

		</div>
	</div>
	</div>
	<!-- Service End -->

</body>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>



<!-- Template Javascript -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
	// 현재 날짜와 시간을 가져와서 작성일시 필드에 설정
	var currentDate = new Date();
	// 날짜 및 시간을 원하는 형식으로 변환
	var dateString = currentDate.getFullYear() + '-' +
		('0' + (currentDate.getMonth() + 1)).slice(-2) + '-' +
		('0' + currentDate.getDate()).slice(-2) + ' ' +
		('0' + currentDate.getHours()).slice(-2) + ':' +
		('0' + currentDate.getMinutes()).slice(-2) + ':' +
		('0' + currentDate.getSeconds()).slice(-2);
	document.getElementById("selrevDate2").value = dateString;
</script>


<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!--수정 모달 JS -->
<script>
	$(document).ready(function () {
		$('.modify').click(function () {
			var selrevNum = $(this).closest('tr').find('td:eq(0)').find('input').val();
			console.log(selrevNum);
			var selrevContent = $(this).closest('tr').find('td:eq(3)').text();
			var selrevDate = $(this).closest('tr').find('td:eq(4)').text();
			var selrevWriter = $(this).closest('tr').find('td:eq(5)').text();
			var sellerId = $(this).closest('tr').find('td:eq(1)').find('input').val();
			console.log("sellerId : ", sellerId);

			$('#selrevNum').val(selrevNum);
			$('#selrevId').val(sellerId);
			$('#editSelrevContent').val(selrevContent);
			$('#editSelrevDate').val(dateString);
			$('#editSelrevWriter').val(selrevWriter);


			$('#modifyModal').modal('show');
		});

		$('#modifyForm').submit(function (event) {
			event.preventDefault(); // 기본 제출 이벤트 방지

			var sellerId = $('#selrevId').val(); // sellerId 값을 가져옴
			var formData = $(this).serialize(); // 폼 데이터 가져오기

			// 수정 요청 보내기
			$.ajax({
				type: 'get',
				url: '/seller/updateOK?sellerId=' + sellerId, // sellerId를 URL 파라미터로 전달
				data: formData,
				success: function (response) {
					// 성공적으로 업데이트된 경우 처리
					console.log('리뷰가 성공적으로 수정되었습니다.');
					$('#modifyModal').modal('hide'); // 모달 닫기
					// 여기에 필요한 추가적인 작업을 수행할 수 있습니다.
					window.location.reload();
				},
				error: function (xhr, status, error) {
					// 요청이 실패한 경우 처리
					console.error('리뷰 수정 중 오류 발생:', error);
					// 여기에 오류 처리를 추가할 수 있습니다.
				}
			});
		});
	});
</script>

<!--신고 모달 JS -->
<script>
	$(document).ready(function () {
		$('.report').click(function () {
			var reportCategory = '판매자리뷰';
			console.log(reportCategory);
			var reportReportedId = $(this).closest('tr').find('td:eq(5)').text();
			console.log(reportReportedId);
			var reportContent = $(this).closest('tr').find('td:eq(3)').text();
			console.log(reportContent);
			var reportReview = '';
			console.log(reportReview);
			var reportReportId = 'user2';
			console.log(reportReportId);
			var sellerId = $(this).closest('tr').find('td:eq(1)').find('input').val();
			console.log(sellerId);
			
			$('#reportCategory').val('판매자리뷰');
			$('#reportReportedId').val(reportReportedId);
			$('#reportContent').val(reportContent);
			$('#reportReview').val('신고사유를 작성해 주세요.');
			$('#reportReportId').val('user2');

			$('#reportModal').modal('show');
		});

		$('#reportModal').submit(function (event) {
			event.preventDefault(); // 기본 제출 이벤트 방지
			
			var sellerId = $('#reportReportedId').val();
			var formData = {
				reportCategory: $('#reportCategory').val(),
				reportReportedId: $('#reportReportedId').val(),
				reportContent: $('#reportContent').val(),
				reportReview: $('#reportReview').val(),
				reportReportId: $('#reportReportId').val()
			};
			console.log(formData);
			// 신고 요청 보내기
			$.ajax({
				type: 'get',
					url: '/seller/report?sellerId=' + sellerId, // sellerId를 URL 파라미터로 전달
				data: formData,
				success: function (response) {
					// 성공적으로 업데이트된 경우 처리
					console.log('성공적으로 신고되었습니다.');
					$('#modifyModal').modal('hide'); // 모달 닫기
					// 여기에 필요한 추가적인 작업을 수행할 수 있습니다.
					window.location.reload();
				},
				error: function (xhr, status, error) {
					// 요청이 실패한 경우 처리
					console.error('신고 중 오류 발생:', error);
					// 여기에 오류 처리를 추가할 수 있습니다.
				}
			});
		});
	});
</script>

</html>