<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="test_top_menu">

	<!-- Topbar Start -->
	<div class="container-fluid bg-light pt-3 d-none d-lg-block">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
					<div class="d-inline-flex align-items-center">
<!--						<p>3조</p>-->
						<p class="text-body px-3"></p>
						<p>3줄 코딩</p>
					</div>
				</div>
				<div class="col-lg-6 text-center text-lg-right">
					<div class="d-inline-flex align-items-center">
						<div class="d-inline-flex align-items-center" th:if="${loggedIn}">
							<!-- 로그인된 경우 -->
							<span class="px-4" th:text="${loginId}"></span>
							<a class="text-primary px-2" href="/mypage">
								<i class="fas fa-user-circle"></i>
							</a>
							<a class="text-primary px-2" href="/cart">
								<i class="fas fa-shopping-cart"></i>
							</a>
							<a class="text-primary px-3" href="/logout">
								<button class="btn btn-primary mt-1 loginBtn">로그아웃<i class="fas fa-sign-out-alt"></i></button>
							</a>
						</div>
						<div th:unless="${loggedIn}">
							<!-- 로그인되지 않은 경우 -->
							<a class="text-primary px-1" href="/login">
								<button class="btn btn-primary mt-1 loginBtn">로그인</button>
							</a>
							<a class="text-primary px-1" href="/memberinsert">
								<button class="btn btn-primary mt-1 loginBtn">회원가입</button>
							</a>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Topbar End -->


		<!-- Navbar Start -->
		<div class="container-fluid position-relative nav-bar p-0">
			<div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
				<nav class="topMenu navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
					<a href="/index" class="navbar-brand">
						<h1 class="m-0 text-primary" style="font-size:30px;"><span class="text-dark">우리동네</span>풀코스</h1>
					</a>
					<!--										로고 넣고싶으면여기...-->
					<!--					<a href="/index" class="navbar-brand">-->
					<!--						<img src="img/logo.png" alt="로고" style="max-height: 60px; width: 220px;" />-->
					<!--					</a>-->
					<!--										로고 넣고싶으면...-->

					<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
						<div class="navbar-nav ml-auto py-0">
							<!--                        <a href="/index" class="nav-item nav-link">Home</a>-->
							
							
							<div class="nav-item dropdown">
								<a href="/route" class="nav-link dropdown-toggle" data-toggle="dropdown">가이드북제작</a>
								
								<div class="dropdown-menu border-0 rounded-0 m-0">
									<a href="/route" class="dropdown-item">가이드북제작</a>
									<a href="/route/list" class="dropdown-item">가이드북</a>
									
								</div>
							</div>
							
							
							<a href="/product/selectAll" class="nav-item nav-link">여행상품쇼핑</a>
							<div class="nav-item dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">여행&축제 정보</a>
								<div class="dropdown-menu border-0 rounded-0 m-0">
									<a href="/tour" class="dropdown-item">Best여행지</a>
									<a href="/tour/tourSelectAll" class="dropdown-item">여행지목록</a>
									<a href="/festival" class="dropdown-item">Best축제</a>
									<a href="/festival/festivalSelectAll" class="dropdown-item">축제목록</a>
									<a href="/festival/festivalSelectMonth" class="dropdown-item">월별축제목록</a>
								</div>
							</div>
							<a href="/board/selectAll" class="nav-item nav-link">게시판</a>
							<a href="/chat/chatStart" class="nav-item nav-link">실시간문의</a>
							<a href="/parking" class="nav-item nav-link">주차정보</a>

							<!--                        <div class="nav-item dropdown">-->
							<!--                            <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">Pages</a>-->
							<!--                            <div class="dropdown-menu border-0 rounded-0 m-0">-->
							<!--                                <a href="blog.html" class="dropdown-item">Blog Grid</a>-->
							<!--                                <a href="single.html" class="dropdown-item active">Blog Detail</a>-->
							<!--                                <a href="destination.html" class="dropdown-item">Destination</a>-->
							<!--                                <a href="guide.html" class="dropdown-item">Travel Guides</a>-->
							<!--                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>-->
							<!--                            </div>-->
							<!--                        </div>-->
							<!--                        <a href="contact.html" class="nav-item nav-link">Contact</a>-->
						</div>
					</div>
				</nav>
			</div>
		</div>
		<!-- Navbar End -->

</nav>