<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_content(title)">
	<div class="container">
		<div class="input-form-backgroud row">
			<div class="input-form col-md-12 mx-auto">

<!--				<h4 class="mb-3">[[${title}]]</h4>-->
				<h4 class="mb-3"></h4>
				<!--지역 버튼 시작 -->
				<div id="regionSelection">
					<button class="btn-sm btn-outline-primary AllRegionBtn" id="AllRegionBtn" value="여행지">전국</button>
					<button class="btn-sm btn-outline-primary regionBtn" id="seoulBtn" value="서울">서울</button>
					<button class="btn-sm btn-outline-primary regionBtn" id="busanBtn" value="부산">부산</button>
					<button class="btn-sm btn-outline-primary regionBtn" id="daeguBtn" value="대구">대구</button>
					<button class="btn-sm btn-outline-primary regionBtn" id="incheonBtn" value="인천">인천</button>
					<button class="btn-sm btn-outline-primary regionBtn" id="gwangjuBtn" value="광주">광주</button>
					<button class="btn-sm btn-outline-primary regionBtn" id="daejeonBtn" value="대전">대전</button>
					<button class="btn-sm btn-outline-primary regionBtn" id="ulsanBtn" value="울산">울산</button>
					<button class="btn-sm btn-outline-primary regionBtn" id="sejongBtn" value="세종">세종</button>
					<button class="btn-sm btn-outline-primary regionBtn" id="gyeonggiBtn" value="경기">경기</button>
					<button class="btn-sm btn-outline-primary regionBtn" id="gangwonBtn" value="강원">강원</button>
					<button class="btn-sm btn-outline-primary regionBtn" id="chungbukBtn" value="충청북도">충북</button>
					<button class="btn-sm btn-outline-primary regionBtn" id="chungnamBtn" value="충청남도">충남</button>
					<button class="btn-sm btn-outline-primary regionBtn" id="gyeongbukBtn" value="경상북도">경북</button>
					<button class="btn-sm btn-outline-primary regionBtn" id="gyeongnamBtn" value="경상남도">경남</button>
					<button class="btn-sm btn-outline-primary regionBtn" id="jeonbukBtn" value="전북">전북</button>
					<button class="btn-sm btn-outline-primary regionBtn" id="jeonnamBtn" value="전라남도">전남</button>
					<button class="btn-sm btn-outline-primary regionBtn" id="jejuBtn" value="제주">제주</button>
				</div>

				<!--									지역 버튼 끝-->
				<!-- Search Form start-->
				<div class="mb-5">
					<div class="bg-white" style="padding: 30px;">
						<div class="input-group" style="justify-content: flex-end;">
							<form class="form-inline my-2 my-lg-0 justify-content-end" action="tourSearchList">
								<select class="selectpicker" name="searchKey">
									<option value="tourName">여행지이름</option>
									<option value="address">주소</option>
								</select>

								<input class="form-control mr-sm-2" type="search" placeholder="Search"
									aria-label="Search" name="searchWord" value="ad">
								<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
							</form>
						</div>
					</div>
					<!-- Search Form end-->

					<!--					테이블 시작-->
					<!--					<table class="table">-->
					<!--						<thead>-->
					<!--							<tr>-->
					<!--								<th scope="col">tourNum</th>-->
					<!--								<th scope="col">tourName</th>-->
					<!--								<th scope="col">tourAddress</th>-->
					<!--								<th scope="col">tourContent</th>-->
					<!--								<th scope="col">tourViews</th>-->
					<!--								<th scope="col">tourThumbUp</th>-->
					<!--								<th scope="col">tourImg</th>-->
					<!--								<th scope="col"></th>-->

					<!--							</tr>-->
					<!--						</thead>-->
					<!--						<tbody>-->
					<!--							<th:block th:each="vo : ${vos}">-->
					<!--								<tr>-->
					<!--									<th scope="row"><a th:href="@{|tourSelectOne?tourNum=${vo.tourNum}|}">-->
					<!--										<span th:text="${vo.tourNum}"></span></a></th>-->
					<!--									<td><a th:href="@{|tourSelectOne?tourNum=${vo.tourNum}|}"><span-->
					<!--												th:text="${vo.tourName}"></span></a></td>-->
					<!--									<td><span th:text="${vo.tourAddress}"></span></td>-->
					<!--									<td><span th:text="${vo.tourContent}"></span></td>-->
					<!--									<td><span th:text="${vo.tourViews}"></span></td>-->
					<!--									<td><span th:text="${vo.tourThumbUp}"></span></td>-->
					<!--									<td><span th:text="${vo.tourImg}"></span></td>-->
					<!--									<td><a th:href="@{|tourDelete?tourNum=${vo.tourNum}|}"><span>delete</span></a></td>-->
					<!--								</tr>-->

					<!--							</th:block>-->
					<!--						</tbody>-->
					<!--						<tfoot>-->
					<!--							<tr>-->
					<!--								<td colspan="6">-->
					<!--									<th:block th:each="i : ${#numbers.sequence(1,totalPageCount)}">-->
					<!--										<th:block th:if="${param.searchKey}== null">-->
					<!--											<a th:href="|tourSelectAll?cpage=${i}|">[[${i}]] &nbsp;</a>-->
					<!--										</th:block>-->
					<!--										<th:block th:if="${param.searchKey}!= null">-->
					<!--											<a-->
					<!--												th:href="@{tourSearchList(cpage=${i},searchKey=${param.searchKey},searchWord=${param.searchWord})}">[[${i}]]-->
					<!--												&nbsp;</a>-->
					<!--										</th:block>-->
					<!--									</th:block>-->
					<!--								</td>-->
					<!--							</tr>-->
					<!--						</tfoot>-->
					<!--					</table>-->

					<!--					테이블끝-->


					<!-- 여행지목록 start-->

					<div class="container-fluid py-5">
						<div class="container pt-5 pb-3">
							<div class="text-center mb-3 pb-3">
								<h6 class="text-primary text-uppercase" id="tourDestination" style="letter-spacing: 5px;">전국</h6>
									<h1>여행지 목록</h1>



								<!--</form>-->
							</div>
							<div class="row" id="destinationList">
								<th:block th:each="vo : ${vos}">
									<div class="col-lg-4 col-md-6 mb-4">
										<div class="destination-item position-relative overflow-hidden mb-2">
											<!--										<img class="img-fluid" src="/img/destination-1.jpg" alt="">-->
											<img class="img-fluid" style="max-width: 100%; height: auto;"
												th:if="${vo.tourImg == null or vo.tourImg == ''}"
												src="/img/destination-1.jpg" alt="기본이미지대체텍스트" />
											<!-- 이미지가 비어 있지 않은 경우에는 해당 이미지를 사용 -->
											<img class="img-fluid" style="max-width: 100%; height: auto;"
												th:if="${vo.tourImg != null and vo.tourImg != ''}"
												th:src="${vo.tourImg}" alt="이미지대체텍스트" />
											<!--										<img class="img-fluid" th:src="${vo.tourImg}" alt="">-->

											<a class="destination-overlay text-white text-decoration-none"
												th:href="@{|/tour/tourDetails?tourNum=${vo.tourNum}|}">
												<h5 class="text-white"><span th:text="${vo.tourAddress}"></span></h5>
												<span th:text="${vo.tourName}"></span>
											</a>
										</div>
									</div>
									
								</th:block>
	<div class="col-12" id=""pagination>
								<nav aria-label="Page navigation">
									<ul class="pagination pagination-lg justify-content-center bg-white mb-0"
										style="padding: 30px;">
										
										<th:block th:each="i : ${#numbers.sequence(1,totalPageCount)}">
											<th:block th:if="${param.searchKey}== null">
												<li class="page-item"><a class="page-link"
														th:href="@{/tour/tourSelectAll(cpage=${i})}">[[${i}]]</a></li>
											</th:block>
											<th:block th:if="${param.searchKey}!= null">
												<li class="page-item"><a class="page-link"
														th:href="@{/tour/tourSearchList(cpage=${i},searchKey=${param.searchKey},searchWord=${param.searchWord})}">[[${i}]]</a>
												</li>
											</th:block>
										</th:block>
												
									</ul>
								</nav>
							</div>



							</div>
							<!--							수정2-->
<!--							<div class="col-12">-->
<!--								<nav aria-label="Page navigation">-->
<!--									<ul class="pagination pagination-lg justify-content-center bg-white mb-0"-->
<!--										style="padding: 30px;">-->
<!--										<li class="page-item ">-->
<!--											<a class="page-link" th:href="@{/tour(cpage=1)}" aria-label="Previous">-->
<!--												<span aria-hidden="true">&laquo;</span>-->
<!--												<span class="sr-only">Previous</span>-->
<!--											</a>-->
<!--										</li>-->
<!--										<li class="page-item active"><a class="page-link"-->
<!--												th:href="@{/tour/tourSelectAll(cpage=1)}">1</a></li>-->
<!--										<li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--										<li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--										<li class="page-item">-->
<!--											<a class="page-link" href="#" aria-label="Next">-->
<!--												<span aria-hidden="true">&raquo;</span>-->
<!--												<span class="sr-only">Next</span>-->
<!--											</a>-->
<!--										</li>-->
<!--									</ul>-->
<!--								</nav>-->
<!--							</div>-->

							<!--                        수정	2끝	-->



						


	<script th:inline="javascript">
					
	//지역목록 시작
					$(".regionBtn").click(function () {
						let region = $(this).val();
						console.log(region);

						sendToControllerForUpdate(region);
						  changeRegionText(region);
					});
 function changeRegionText(region) {
        // 선택한 지역으로 "여행지" 텍스트를 변경합니다.
         document.getElementById('tourDestination').innerHTML = region;
    }
					function sendToControllerForUpdate(region) {

						let data = {searchKey: "tourAddress", searchWord: region, cpage:"1", pageBlock:"9"};
						$.ajax({
							url: '/tour/searchRegion',
							type: 'POST',
							contentType: 'application/json',
							data: JSON.stringify(data),
							success: function (response) {
								console.log('서버 응답:', response);

								//vos = response;
								updateHTMLWithVos(response);

								

							},
							error: function (xhr, status, error) {
								console.error('서버 요청 오류:', error);
							}
						});
					}
					
					function updateHTMLWithVos(vos) {
    // vos를 이용하여 HTML을 업데이트
    let destinationHTML = '';
    for (let i = 0; i < vos.length; i++) {
        let vo = vos[i];
        if (!vo.tourImg) {
            // 이미지가 비어 있는 경우 기본 이미지로 대체하여 표시
            destinationHTML += `
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="/img/destination-1.jpg" style="max-width: 100%; height: auto;" alt="기본이미지 대체 텍스트">
                        <a class="destination-overlay text-white text-decoration-none"
                            href="/tour/tourDetails?tourNum=${vo.tourNum}">
                            <h5 class="text-white">${vo.tourName}</h5>
                            <span>${vo.tourAddress}</span>
                        </a>
                    </div>
                </div>`;
        } else {
            // 이미지가 비어 있지 않은 경우에는 해당 이미지를 사용
            destinationHTML += `
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="${vo.tourImg}" style="max-width: 100%; height: auto;" alt="">
                        <a class="destination-overlay text-white text-decoration-none"
                            href="/tour/tourDetails?tourNum=${vo.tourNum}">
                            <h5 class="text-white">${vo.tourName}</h5>
                            <span>${vo.tourAddress}</span>
                        </a>
                    </div>
                </div>`;
        }
    }
    // vos를 반영할 HTML 요소에 할당
    document.getElementById('destinationList').innerHTML = destinationHTML;
}

	// 전국 버튼에 클릭 이벤트 핸들러 추가
    $("#AllRegionBtn").click(function () {
        // 전체 페이지 새로고침
        window.location.reload();
        // 또는 다른 URL로 이동
        // window.location.href = "/원래페이지주소";
    });
			
</script>




						</div>
					</div>
				</div>
			</div>

</html>