<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_content(title)">
	<div class="container">
		<div class="input-form-backgroud row">
			<div class="input-form col-md-12 mx-auto">
				<h4 class="mb-3">[[${title}]]</h4>


				<!-- Header Start -->
				<div class="container-fluid page-header">
					<div class="container">
						<div class="d-flex flex-column align-items-center justify-content-center"
							style="min-height: 400px">
							<h3 class="display-4 text-white text-uppercase">[[${title}]]</h3>
							<div class="d-inline-flex text-white">
								<p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
								<i class="fa fa-angle-double-right pt-1 px-3"></i>
								<p class="m-0 text-uppercase">Blog Detail</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Header End -->

				<!-- Blog Start -->
				<div class="container-fluid py-5">
					<div class="container py-5">
						<div class="row">
							<div class="col-lg-8">
								<!-- Blog Detail Start -->
								<div class="pb-3">
									<div class="blog-item">
										<div class="position-relative">
											<img class="img-fluid w-100" src="img/blog-1.jpg" alt="">
											<div class="blog-date">
												<h6 class="font-weight-bold mb-n1">01</h6>
												<small class="text-white text-uppercase">Jan</small>
											</div>
										</div>
									</div>
									<div class="bg-white mb-3" style="padding: 30px;">
										<div class="d-flex mb-3">
											<a class="text-primary text-uppercase text-decoration-none"
												href="">Admin</a>
											<span class="text-primary px-2">|</span>
											<a class="text-primary text-uppercase text-decoration-none" href="">Tours &
												Travel</a>
										</div>
										<h2 class="mb-3">Dolor justo sea kasd lorem clita justo diam amet</h2>
										<p>Sadipscing labore amet rebum est et justo gubergren. Et eirmod ipsum sit diam
											ut
											magna lorem. Nonumy vero labore lorem sanctus rebum et lorem magna kasd,
											stet
											amet magna accusam consetetur eirmod. Kasd accusam sit ipsum sadipscing et
											at at
											sanctus et. Ipsum sit gubergren dolores et, consetetur justo invidunt at et
											aliquyam ut et vero clita. Diam sea sea no sed dolores diam nonumy,
											gubergren
											sit stet no diam kasd vero.</p>
										<p>Voluptua est takimata stet invidunt sed rebum nonumy stet, clita aliquyam
											dolores
											vero stet consetetur elitr takimata rebum sanctus. Sit sed accusam stet sit
											nonumy kasd diam dolores, sanctus lorem kasd duo dolor dolor vero sit et.
											Labore
											ipsum duo sanctus amet eos et. Consetetur no sed et aliquyam ipsum justo et,
											clita lorem sit vero amet amet est dolor elitr, stet et no diam sit. Dolor
											erat
											justo dolore sit invidunt.</p>
										<h4 class="mb-3">Est dolor lorem et ea</h4>
										<img class="img-fluid w-50 float-left mr-4 mb-2" src="img/blog-2.jpg">
										<p>Diam dolor est labore duo invidunt ipsum clita et, sed et lorem voluptua
											tempor
											invidunt at est sanctus sanctus. Clita dolores sit kasd diam takimata justo
											diam
											lorem sed. Magna amet sed rebum eos. Clita no magna no dolor erat diam
											tempor
											rebum consetetur, sanctus labore sed nonumy diam lorem amet eirmod. No at
											tempor
											sea diam kasd, takimata ea nonumy elitr sadipscing gubergren erat. Gubergren
											at
											lorem invidunt sadipscing rebum sit amet ut ut, voluptua diam dolores at
											sadipscing stet. Clita dolor amet dolor ipsum vero ea ea eos. Invidunt sed
											diam
											dolores takimata dolor dolore dolore sit. Sit ipsum erat amet lorem et,
											magna
											sea at sed et eos. Accusam eirmod kasd lorem clita sanctus ut consetetur et.
											Et
											duo tempor sea kasd clita ipsum et.</p>
										<h5 class="mb-3">Est dolor lorem et ea</h5>
										<img class="img-fluid w-50 float-right ml-4 mb-2" src="img/blog-3.jpg">
										<p>Diam dolor est labore duo invidunt ipsum clita et, sed et lorem voluptua
											tempor
											invidunt at est sanctus sanctus. Clita dolores sit kasd diam takimata justo
											diam
											lorem sed. Magna amet sed rebum eos. Clita no magna no dolor erat diam
											tempor
											rebum consetetur, sanctus labore sed nonumy diam lorem amet eirmod. No at
											tempor
											sea diam kasd, takimata ea nonumy elitr sadipscing gubergren erat. Gubergren
											at
											lorem invidunt sadipscing rebum sit amet ut ut, voluptua diam dolores at
											sadipscing stet. Clita dolor amet dolor ipsum vero ea ea eos. Invidunt sed
											diam
											dolores takimata dolor dolore dolore sit. Sit ipsum erat amet lorem et,
											magna
											sea at sed et eos. Accusam eirmod kasd lorem clita sanctus ut consetetur et.
											Et
											duo tempor sea kasd clita ipsum et. Takimata kasd diam justo est eos erat
											aliquyam et ut.</p>
									</div>
								</div>
								<!-- Blog Detail End -->



								<!-- Comment List Start -->
								<div class="bg-white" style="padding: 30px; margin-bottom: 30px;">
									<h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Comments</h4>
									<!-- 반복문을 통해 각 댓글을 출력합니다 -->
									<div th:each="comment : ${cvos}" class="media mb-4">
										<img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1"
											style="width: 45px;">
										<div class="media-body">
											<h6 th:text="${comment.tourcoWriter}"><a href="">John Doe</a> <small><i
														th:text="${comment.tourcoDate}"></i></small></h6>
											<!-- 댓글 내용을 출력합니다 -->
											<p th:text="${comment.tourcoContent}"></p>
<!--											<a th:href="@{tourCommentUpdateOK(tourcoNum=${comment.tourcoNum},tourcoTnum=${comment.tourcoTnum})}">댓글수정</a>-->
<!--										 댓글 수정누르면 input보이게 변경-->
											<a th:href="@{tourCommentDeleteOK(tourcoNum=${comment.tourcoNum},tourcoTnum=${comment.tourcoTnum})}">댓글삭제</a>

											<button class="btn btn-sm btn-outline-primary">Delete</button>


										</div>
									</div>
								</div>
								<!-- Comment List End -->




								<!-- Comment Form Start -->
								<div class="bg-white mb-3" style="padding: 30px;">
									<h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Leave a comment</h4>
									<form action="/tour/tourCommnetInsert" method="POST">
										<!-- action 속성을 수정해야 할 수 있습니다. -->
										<div class="form-group">
											<label for="tourcoWriter">Name *</label>
											<input type="text" class="form-control" id="tourcoWriter"
												name="tourcoWriter"> <!-- name 속성을 tourcoWriter로 변경 -->
										</div>

										<div class="form-group">
											<label for="tourcoContent">Message *</label>
											<textarea id="tourcoContent" cols="30" rows="5" class="form-control"
												name="tourcoContent"></textarea> <!-- name 속성을 tourcoContent로 변경 -->
										</div>

										<!-- Hidden 필드로 tourNum 값을 전달합니다. -->
										<input type="hidden" name="tourcoTnum" th:value="${param.tourNum}">

										<div class="form-group mb-0">
											<input type="submit" value="Leave a comment"
												class="btn btn-primary font-weight-semi-bold py-2 px-3">
										</div>
									</form>
								</div>
								<!-- Comment Form End -->

							</div>

						</div>
					</div>
				</div>
			</div>

</html>