<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_content(title)">
	<div class="container">
		<div class="input-form-backgroud row">
			<div class="input-form col-md-12 mx-auto">

<!--								<h4 class="mb-3">[[${title}]]</h4>-->
				<h4 class="mb-3"></h4>



				<!-- Header Start -->
				<div class="container-fluid page-header">
					<div class="container">
						<div class="d-flex flex-column align-items-center justify-content-center"
							style="min-height: 400px">
							<h3 class="display-4 text-white text-uppercase">[[${title}]]</h3>
							<!--							<div class="d-inline-flex text-white">-->
							<!--								<p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>-->
							<!--								<i class="fa fa-angle-double-right pt-1 px-3"></i>-->
							<!--								<p class="m-0 text-uppercase">Blog Detail</p>-->
							<!--							</div>-->
						</div>
					</div>
				</div>
				<!-- Header End -->

				<form method="get" id="searchForm" action="/festival">
					<input type="hidden" name="pageIndex"
						th:value="${searchVO != null and searchVO.pageIndex != null ? searchVO.pageIndex : 1}" />
					<!--지역 버튼 시작 -->
					<div id="regionSelection">
						<label for="searchCondition" hidden>지역선택</label>
						<input type="hidden" name="searchCondition" value="FESTIVAL_ADDRESS" />
						<button type="button" class="btn-sm btn-outline-primary" id="AllRegionBtn">전국</button>
						<th:block th:each="region : ${regions}">
							<button type="button" class="btn-sm btn-outline-primary regionBtn"
								th:value="${region.label}">[[${region.code}]]</button>
						</th:block>
					</div>
					<label for="searchKeyword" hidden>검색어</label>
					<input type="hidden" name="searchKeyword"
						th:value="${searchVO != null ? searchVO.searchKeyword : ''}" />
				</form>
				<!--지역 버튼 끝-->

				<!-- 축제 start-->

				<div class="container-fluid py-5">
					<div class="container pt-5 pb-3">
						<div class="text-center mb-3 pb-3">
							<h6 class="text-primary text-uppercase festivalDestination" style="letter-spacing: 5px;"
								th:text="${param.searchKeyword != null ? param.searchKeyword : '전국'}">전국</h6>
							<h1>좋아요 Best 축제</h1>
						</div>
						<div class="row" id="bestThreeList">
							<div th:each="vo : ${vos2}" class="col-lg-4 col-md-6 mb-4">
									<div class="destination-item position-relative overflow-hidden mb-2">
										<img class="img-fluid" style="max-width: 100%; height: auto;"
											th:if="${vo.festivalImg == null or vo.festivalImg == ''}"
											src="/img/destination-1.jpg" alt="기본이미지대체텍스트" />
										<!-- 이미지가 비어 있지 않은 경우에는 해당 이미지를 사용 -->
										<img class="img-fluid" style="max-width: 100%; height: auto;"
											th:if="${vo.festivalImg != null and vo.festivalImg != ''}"
											th:src="${vo.festivalImg}" alt="이미지대체텍스트" />

										<a class="destination-overlay text-white text-decoration-none"
											th:href="@{|festival/festivalDetails?festivalNum=${vo.festivalNum}|}">
											<h5 class="text-white"><span th:text="${vo.festivalName}"></span></h5>
											<span th:text="${vo.festivalAddress}"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 축제 end -->




					<!--		축제 api 호출start					누르지 마시오..-->
<!--					<button id="apiBtnFes">test</button>-->

					<!--		축제 api 호출end					누르지 마시오..-->

					<!--  축제목록 start-->
					<div class="container-fluid py-5">
						<div class="container pt-5 pb-3">
							<div class="text-center mb-3 pb-3">
								<h6 class="text-primary text-uppercase festivalDestination" style="letter-spacing: 5px;"
									th:text="${param.searchKeyword != null ? param.searchKeyword : '전국'}">전국
								</h6>
								<h1>조회수 Best 축제</h1>
							</div>


							<div class="row" id="destinationList">
								<th:block th:each="vo : ${festivalListVO}">
									<div class="col-lg-4 col-md-6 mb-4">
										<div class="destination-item position-relative overflow-hidden mb-2">
											<!-- 이미지가 비어 있지 않은 경우에는 해당 이미지를 사용 -->
											<!--<img class="img-fluid" style="max-width: 100%; height: auto;"-->
											<!--th:if="${vo.festivalImg != null and vo.festivalImg != ''}"-->
											<!--th:src="${vo.festivalImg}" alt="이미지대체텍스트" />-->

											<img class="img-fluid" style="max-width: 100%; height: auto;"
												th:if="${vo.festivalImg == null or vo.festivalImg == ''}"
												src="/img/destination-1.jpg" alt="기본이미지대체텍스트" />
											<!-- 이미지가 비어 있지 않은 경우에는 해당 이미지를 사용 -->
											<img class="img-fluid" style="max-width: 100%; height: auto;"
												th:if="${vo.festivalImg != null and vo.festivalImg != ''}"
												th:src="${vo.festivalImg}" alt="이미지대체텍스트" />
											<a class="destination-overlay text-white text-decoration-none"
												th:href="@{|festival/festivalDetails?festivalNum=${vo.festivalNum}|}">
												<h5 class="text-white"><span th:text="${vo.festivalName}"></span>
												</h5>
												<span th:text="${vo.festivalAddress}"></span>
											</a>
										</div>
									</div>

								</th:block>


								
								<a th:href="@{/festival/festivalSelectAll}" class="moreBtn">+축제 더보기</a>
								<!--  end -->
								
								
								<script th:inline="javascript">
									
									$("#apiBtnFes").click(function () {
										console.log('축제api호출');
										//배열을 루프 돌려서 '서울', '대전'..등등
										callAPI('20240101');
									});
									//console.log('클릭');
									// JavaScript 코드
									function callAPI(keyword) {
										const apiKey = "CJE9zLAYFCFIq%2BtV%2BN3i4jrz3a4iOReS264F9RkE8ZibRrVIhLRgEshj4jchWX4ntU0St0uA5p2LPt%2FStMMQJg%3D%3D"; // 여기에 실제 API 키를 넣어주세요
										const url = `http://apis.data.go.kr/B551011/KorService1/searchFestival1?serviceKey=${apiKey}&numOfRows=200&pageNo=2&MobileOS=ETC&MobileApp=AppTest&arrange=A&listYN=Y&eventStartDate=${keyword}&_type=json`;

										return fetch(url)
											.then(response => response.json())
											.then(data => {
												// 이 부분에서 eventstartdate를 추출하여 사용합니다.

												// 서버로 결과 전송
												sendDataToServer(data);
											})
											.catch(error => {
												console.error('Error:', error);
											});
									}

									function sendDataToServer(data) {
										//루프 item.size
										let alldata = [];
										for (let i = 0; i < data.response.body.items.item.length; i++) {
											console.log(data.response.body.items.item[i].contentid);
											console.log(data.response.body.items.item[i].eventstartdate);
											console.log(data.response.body.items.item[i].eventenddate);
											// arr.push(data.response.body.items.item[i].contentid);

											let contentid = data.response.body.items.item[i].contentid;
											let festivalStart = data.response.body.items.item[i].eventstartdate;
											let festivalEnd = data.response.body.items.item[i].eventenddate;

											const apiKey = "CJE9zLAYFCFIq%2BtV%2BN3i4jrz3a4iOReS264F9RkE8ZibRrVIhLRgEshj4jchWX4ntU0St0uA5p2LPt%2FStMMQJg%3D%3D"; // 여기에 실제 API 키를 넣어주세요
											const url = `http://apis.data.go.kr/B551011/KorService1/detailCommon1?serviceKey=${apiKey}&contentId=${contentid}&defaultYN=Y&addrinfoYN=Y&overviewYN=Y&mapinfoYN=Y&firstImageYN=Y&MobileOS=ETC&MobileApp=AppTest&_type=json`;



											fetch(url)
												.then(response => response.json())
												.then(data => {
													// 서버로 결과 전송
													//sendDataToServer(data);
													for (let i = 0; i < data.response.body.items.item.length; i++) {
														let festivalName = data.response.body.items.item[i].title;
														let festivalContent = data.response.body.items.item[i].overview;
														let longtitue = data.response.body.items.item[i].mapx;
														let lattitue = data.response.body.items.item[i].mapy;
														let festivalAddress = data.response.body.items.item[i].addr1;
														let festivalImg = data.response.body.items.item[i].firstimage;
														let festivalTel = data.response.body.items.item[i].tel;
														//	let festivalStart = data.response.body.items.item[i].eventstartdate;
														//	let festivalEnd = data.response.body.items.item[i].eventenddate;

														// 아이템 객체를 구성하여 yourData에 추가
														let newItem = {
															festivalName: festivalName,
															festivalContent: festivalContent,
															longtitue: longtitue,
															lattitue: lattitue,
															festivalAddress: festivalAddress,
															festivalImg: festivalImg,
															festivalTel: festivalTel,
															festivalStart: festivalStart,
															festivalFinal: festivalEnd
														};

														//alldata.push(newItem);
														sendToController(newItem);
														console.log("여기" + JSON.stringify(newItem));
														//console.log("ㅇㅇ" + JSON.stringify(festivalName));
														//console.log("ㅇㅇ" + JSON.stringify(festivalContent));
														//console.log("ㅇㅇ" + JSON.stringify(longtitue));
														//console.log("ㅇㅇ" + JSON.stringify(lattitue));
														//console.log("ㅇㅇ" + JSON.stringify(festivalAddress));
														//console.log("ㅇㅇ" + JSON.stringify(festivalImg));
														//console.log("ㅇㅇ" + JSON.stringify(festivalTel));

													}
													//전체데이터 불러오기
													//console.log("배열"+JSON.stringify(newItem));
													// 서버로 데이터 전송

													//sendToController(alldata);

												})
												.catch(error => {
													console.error('Error:', error);
												});


										}

										// 결과 데이터를 스프링 부트 기반의 컨트롤러로 전송

									}
									function sendToController(data) {
										fetch('/festival2', {
											method: 'POST', // 요청 메서드 (GET, POST 등)
											headers: {
												'Content-Type': 'application/json' // 전송할 데이터 타입 (JSON, XML 등)
											},
											body: JSON.stringify(data) // 전송할 데이터 (JSON 문자열로 변환하여 전송)
										})
											.then(response => {
												console.log('서버 응답:', response);
												// 성공적으로 서버에서 응답을 받았을 때 실행되는 함수
												// 추가적인 작업 수행
											})
											.catch(error => {
												console.error('서버 요청 오류:', error);
												// 서버 요청 중 오류가 발생했을 때 실행되는 함수
											});
									}
									
										//지역목록 시작
					$(".regionBtn").click(function () {

						//		var region = $(this).text();
						var region = $(this).val();
						console.log(region);




						$("input[name='pageIndex']").val(1);
						$("input[name='searchKeyword']").val(region);
						searchForm.submit();

					});
					
						//전국버튼클릭시 /festival리로드 
					$("#AllRegionBtn").click(function () {
						// '/festival' 페이지로 이동합니다.
						window.location.href = '/festival';
					});
								

								</script>
							</div>
						</div>
					</div>
				</div>
</div>
</div>
</div>

</html>