<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_content(title)">
	<div class="container">
		<div class="input-form-backgroud row">
			<div class="input-form col-md-12 mx-auto">
				<!--				<h4 class="mb-3">[[${title}]]</h4>-->
				<h4 class="mb-3"></h4>


				<!-- Header Start -->
				<!--				<div class="container-fluid page-header">-->
				<!--					<div class="container">-->
				<!--						<div class="d-flex flex-column align-items-center justify-content-center"-->
				<!--							style="min-height: 400px">-->
				<!--							<h3 class="display-4 text-white text-uppercase">[[${title}]]</h3>-->
				<!--							<div class="d-inline-flex text-white">-->
				<!--								<p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>-->
				<!--								<i class="fa fa-angle-double-right pt-1 px-3"></i>-->
				<!--								<p class="m-0 text-uppercase">Blog Detail</p>-->
				<!--							</div>-->
				<!--						</div>-->
				<!--					</div>-->
				<!--				</div>-->
				<!-- Header End -->

				<!-- Blog Start -->
				<div class="container-fluid py-5">
					<div class="container py-5">
						<div>
							<div>

								<!-- Blog Detail Start -->
								<div class="pb-3">
									<div class="blog-item">
										<div class="position-relative">
											<img class="img-fluid w-100" style="max-width: 100%; height: auto;"
												th:src="${vo2.festivalImg}" alt="">

										</div>
									</div>

									<div id="LikeAndViewArea" style="display: flex; justify-content: space-between;">
										<!--조회수 시작-->
										<div>
											<span>조회수: </span> <span id="pageViewCount"
												th:text="${vo2.festivalViews}"></span>
										</div>
										<!--조회수끝-->
										<div>
											<span class="heart"
												th:class="${likeCount != null && likeCount != 0 ? 'heart active' : 'heart'}"></span>

											<!-- 하트 아이콘 -->
											<span id="thumbUpCount" th:text="${vo2.festivalThumbUp}"></span>
											<span th:if="${session.member != null}" id="likes">
												<!-- 세션이 존재하는 경우 -->
												<span th:if="${likeCount == 0}">
													<!-- likeCount가 0인 경우 -->
													<button class="btn btn-primary" id="likebtn">좋아요</button>
												</span>
												<span th:if="${likeCount != 0}">
													<!-- likeCount가 0이 아닌 경우 -->
													<button class="btn btn-primary" id="unlikebtn">좋아요 취소</button>
												</span>
											</span>
											<span th:unless="${session.member != null}">
												<!-- 세션이 존재하지 않는 경우 -->
												<a th:href="@{/login}" class="btn btn-primary">로그인</a>
											</span>

											<!--									즐겨찾기 시작 -->
											<form method="get" action="/wishList/insertOK/festival"
												style="display: inline-block; margin-left: 10px;">
												<input type="hidden" th:value="${vo2.festivalNum}" name="wishListFestivalId">
												<button class="btn-sm btn-outline-primary" type="submit">즐겨찾기</button>
											</form>
											<!--									즐겨찾기 끝-->
										</div>
										<!--									좋아요 끝-->

									</div>

									<div class="bg-white mb-3" style="padding: 30px;">
										<div class="d-flex mb-3">
											<a class="text-primary text-uppercase text-decoration-none"
												href="">Admin</a>
											<span class="text-primary px-2">|</span>
											<a class="text-primary text-uppercase text-decoration-none" href="">Festivals &
												Festival</a>
										</div>


										<h2 class="mb-3" th:text="${vo2.festivalName}"></h2>
<!--										<p th:text="${vo2.festivalNum}"></p>-->
										<p th:text="${vo2.festivalContent}"></p>
										<h4 class="mb-3">이용정보</h4>
										<h5 class="mb-3">
											<span>주소 : </span>
											<span th:text="${vo2.festivalAddress}"></span>
										</h5>
										<h5 class="mb-3">
											<span th:if="${vo2.festivalTel}">전화번호 : <span
													th:text="${vo2.festivalTel}"></span></span>
											<span th:unless="${vo2.festivalTel}">전화번호가 없습니다</span>
										</h5>
										<span>축제시작일:</span>
										<h5 class="mb-3"
											th:text="${#strings.substring(vo2.festivalStart,0,4) + '-' + #strings.substring(vo2.festivalStart,4,6) + '-' + #strings.substring(vo2.festivalStart,6,8)}">
										</h5>

										<span>축제종료일:</span>
										<h5 class="mb-3"
											th:text="${#strings.substring(vo2.festivalFinal,0,4) + '-' + #strings.substring(vo2.festivalFinal,4,6) + '-' + #strings.substring(vo2.festivalFinal,6,8)}">
										</h5>

									</div>
								</div>
								<!-- Blog Detail End -->

								<!-- Comment List Start -->
								<div class="bg-white" style="padding: 30px; margin-bottom: 30px;">
									<h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Comments</h4>

									<!-- 반복문을 통해 각 댓글을 출력 -->
									<div th:each="comment : ${cvos}" class="media mb-4">
										<img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1"
											style="width: 45px;">
										<div class="media-body">
											<span style="display: none;" th:text="${comment.festivalcoNum}"></span>
											<h6 th:text="${comment.festivalcoWriter}"></h6>
											<span>작성일: <small><i th:text="${comment.festivalcoDate}"
														style="color: aqua;"></i></small></span>

											<!-- 댓글 내용을 출력 -->
											<div>댓글 내용:</div>
											<p th:text="${comment.festivalcoContent}" class="showComments"
												th:id="showComments+${comment.festivalcoNum}"></p>
											<form class="showModifyForm" th:id="showModifyForm+${comment.festivalcoNum}">
												<input type="text" th:value="${comment.festivalcoContent}" />
											</form>

											<!-- 댓글 수정누르면 input보이게 변경 -->
											<span
												th:if="${session.member != null and session.member.memberId == comment.festivalcoWriter}">
												<a href="#nolink" class="commentModifyBtn"
													th:id="'commentModifyBtn'+${comment.festivalcoNum}">댓글수정</a>
												<div class="commentModifyBtns"
													th:id="'commentModifyBtns'+${comment.festivalcoNum}">
													<form action="/festival/festivalCommentUpdateOK" method="POST">
														<input type="hidden" name="festivalcoNum"
															th:value="${comment.festivalcoNum}">
														<input type="hidden" name="festivalcoFnum"
															th:value="${comment.festivalcoFnum}">
														<input type="text" name="festivalcoContent"
															placeholder="수정할 내용을 입력하세요">
														<input class="btn-sm btn-outline-primary" type="submit"
															value="저장" style="margin-top: 10px;">
													</form>
													<a href="#nolink" class="commentModifiyCancelBtn"
														th:id="'commentModifiyCancelBtn'+${comment.festivalcoNum}">취소</a>
												</div>
												<a th:href="@{festivalCommentDeleteOK(festivalcoNum=${comment.festivalcoNum},festivalcoFnum=${comment.festivalcoFnum})}"
													class="deleteComment btn btn-sm btn-outline-primary"
													th:id="'deleteComment'+${comment.festivalcoNum}">댓글삭제</a>
											</span>
											<span
												th:unless="${session.member != null and session.member.memberNum == comment.festivalcoWriter}">
												<!-- 작성자가 아닌 경우에는 수정 및 삭제 버튼이 표시되지 않음 -->
											</span>
										</div>
									</div>
								</div>
								<!-- Comment List End -->

								<!-- Comment Form Start -->
								<div class="bg-white mb-3" style="padding: 30px;">
									<h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Leave a comment</h4>
									<form th:action="@{/festival/festivalCommentInsert}" method="POST"
										th:if="${session.member != null}">
										<div class="form-group">
											<label for="festivalcoWriter">Name *</label>
											<input type="text" class="form-control" id="festivalcoWriter"
												name="festivalcoWriter" th:value="${session.member.memberId}" readonly>
										</div>

										<div class="form-group">
											<label for="festivalcoContent">Message *</label>
											<textarea id="festivalcoContent" cols="30" rows="5" class="form-control"
												name="festivalcoContent"></textarea>
											<!-- Hidden 필드로 festivalNum 값을 전달합니다. -->
											<input type="hidden" name="festivalcoFnum" th:value="${param.festivalNum}">
										</div>

										<div class="form-group mb-0">
											<input type="submit" value="Leave a comment"
												class="btn btn-primary font-weight-semi-bold py-2 px-3">
										</div>
									</form>

									<form th:action="@{/login}" th:unless="${session.member != null}">
										<div class="form-group" style="display: none;">
											<label for="festivalcoWriter">Name *</label>
											<input type="text" class="form-control" id="festivalcoWriter"
												name="festivalcoWriter">
										</div>

										<div class="form-group">
											<label for="festivalcoContent">Message *</label>
											<textarea id="festivalcoContent" cols="30" rows="5" class="form-control"
												placeholder="로그인 후 이용해주세요" readonly></textarea>
										</div>

										<div class="form-group mb-0">
											<a th:href="@{/login}"
												class="btn btn-primary font-weight-semi-bold py-2 px-3">로그인</a>
										</div>
									</form>
								</div>
								<!-- Comment Form End -->
							</div>

						</div>
					</div>
				</div>
			</div>
			<script th:inline="javascript">
				//댓글 기능 시작
				$(document).ready(function () {
					$(".showModifyForm").hide();
					$(".commentModifyBtns").hide();

				});

				$(".commentModifyBtn").click(function () {
					console.log("야야야야");
					var id = $(this).attr('id');
					var commentNum = id.replace('commentModifyBtn', '');
					var showComments = 'showComments' + commentNum;
					var showModifyForm = 'showModifyForm' + commentNum;
					var commentModifyBtns = 'commentModifyBtns' + commentNum;
					var commentModifyBtn = 'commentModifyBtn' + commentNum;
					var deleteComment = 'deleteComment' + commentNum;
					$("#" + showComments).hide();
					$("#" + showModifyForm).show();
					$("#" + commentModifyBtns).show();
					$("#" + commentModifyBtn).hide();
					$("#" + deleteComment).hide();

				});
				$(".commentModifiyCancelBtn").click(function () {
					console.log("눌리냐");
					var id = $(this).attr('id');
					var commentNum = id.replace('commentModifiyCancelBtn', '');
					var showComments = 'showComments' + commentNum;
					var showModifyForm = 'showModifyForm' + commentNum;
					var commentModifyBtns = 'commentModifyBtns' + commentNum;
					var commentModifyBtn = 'commentModifyBtn' + commentNum;
					var deleteComment = 'deleteComment' + commentNum;
					$("#" + showComments).show();
					$("#" + showModifyForm).hide();
					$("#" + commentModifyBtns).hide();
					$("#" + commentModifyBtn).show();
					$("#" + deleteComment).show();



				});
				//댓글 기능 끝
				//좋아요 기능시작
				/*<![CDATA[*/
				var user = /*[[${session.member != null ? session.member.memberNum : null}]]*/ null;
				/*]]>*/

				$("#likebtn").click(function () {
					console.log("좋아요");
					// 현재 URL에서 festivalNum 값을 가져오는 방법
					let festivalNum = new URLSearchParams(window.location.search).get("festivalNum");
					let category = 'festival';
				//	let user = '2';
					let data = {festivalLikeFestivalNum: festivalNum, festivalLikeCategory: category, festivalLikeMemberNum: user};
					sendToControllerIncrease(data);
				});

				function sendToControllerIncrease(data) {
					fetch('/festival/increaseThumbUp', {
						method: 'POST', // 요청 메서드 (GET, POST 등)
						headers: {
							'Content-Type': 'application/json' // 전송할 데이터 타입 (JSON, XML 등)
						},
						body: JSON.stringify(data) // 전송할 데이터 (JSON 문자열로 변환하여 전송)
					})
						.then(response => {
							console.log('서버 응답:', response);
							console.log('data', data);
							sendToControllerForUpdateIncrease(data);


							// 성공적으로 서버에서 응답을 받았을 때 실행되는 함수
							// 추가적인 작업 수행
						})
						.catch(error => {
							console.error('서버 요청 오류:', error);
							// 서버 요청 중 오류가 발생했을 때 실행되는 함수
						});
				}
				function sendToControllerForUpdateIncrease(data) {
					data = {festivalNum: data.festivalLikeFestivalNum};
					$.ajax({
						url: '/festival/updateThumbUp',
						type: 'POST',
						contentType: 'application/json',
						data: JSON.stringify(data),
						success: function (response) {
							console.log('서버 응답:', response);
							window.location.reload();
							$('#likebtn').hide();
							$('.heart').addClass('active');
							document.getElementById('thumbUpCount').innerText = response.festivalThumbUp;
							$('#likes').append('<button class="btn btn-primary" id="unlikebtn">좋아요 취소</button>');
						},
						error: function (xhr, status, error) {
							console.error('서버 요청 오류:', error);
						}
					});
				}
				//좋아요 기능끝

				//좋아요 취소 기능 시작
				$("#unlikebtn").click(function () {
					console.log("좋아요취소");
					// 현재 URL에서 festivalNum 값을 가져오는 방법
					let festivalNum = new URLSearchParams(window.location.search).get("festivalNum");
					let category = 'festival';
					//let user = memberInfo.memberNum;
					let data = {festivalLikeFestivalNum: festivalNum, festivalLikeCategory: category, festivalLikeMemberNum: user};
					sendToControllerDecrease(data);
				});

				function sendToControllerDecrease(data) {
					fetch('/festival/decreaseThumbUp', {
						method: 'POST', // 요청 메서드 (GET, POST 등)
						headers: {
							'Content-Type': 'application/json' // 전송할 데이터 타입 (JSON, XML 등)
						},
						body: JSON.stringify(data) // 전송할 데이터 (JSON 문자열로 변환하여 전송)
					})
						.then(response => {
							console.log('서버 응답:', response);
							console.log('data', data);
							sendToControllerForUpdateDecrease(data);

						})
						.catch(error => {
							console.error('서버 요청 오류:', error);
							// 서버 요청 중 오류가 발생했을 때 실행되는 함수
						});
				}
				function sendToControllerForUpdateDecrease(data) {
					data = {festivalNum: data.festivalLikeFestivalNum};
					$.ajax({
						url: '/festival/updateThumbUpDecrease',
						type: 'POST',
						contentType: 'application/json',
						data: JSON.stringify(data),
						success: function (response) {
							console.log('서버 응답:', response);

							// 좋아요 버튼과 하트의 스타일을 변경합니다


							$('#unlikebtn').hide();
							$('.heart').removeClass('active');
							document.getElementById('thumbUpCount').innerText = response.festivalThumbUp;
							$('#likes').append('<button class="btn btn-primary" id="likebtn">좋아요</button>');
							window.location.reload();


						},
						error: function (xhr, status, error) {
							console.error('서버 요청 오류:', error);
						}
					});
				}
			</script>

</html>