<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_content(title)">
	<div class="container">
		<div class="input-form-backgroud row">
			<div class="input-form col-md-12 mx-auto">

				<!--				<h4 class="mb-3">[[${title}]]</h4>-->
				<h4 class="mb-3"></h4>

				<form method="get" id="searchForm" action="/festival/festivalSelectAll">
					<input type="hidden" name="pageIndex"
						th:value="${searchVO != null and searchVO.pageIndex != null ? searchVO.pageIndex : 1}" />
					<!--지역 버튼 시작 -->
					<div id="regionSelection">
						<label for="searchCondition" hidden>지역선택</label>
						<input type="hidden" name="searchCondition" value="FESTIVAL_ADDRESS" />
						<button type="button" class="btn-sm btn-outline-primary" id="AllRegionBtn">전국</button>
						<th:block th:each="region : ${regions}">
							<button type="button" class="btn-sm btn-outline-primary regionBtn"
								th:value="${region.label}">[[${region.code}]]</button>
						</th:block>
					</div>
					<label for="searchKeyword" hidden>검색어</label>
					<input type="hidden" name="searchKeyword"
						th:value="${searchVO != null ? searchVO.searchKeyword : ''}" />
				</form>
				<!--지역 버튼 끝-->

				<!-- Search Form start-->
				<div class="mb-5">
					<div class="bg-white" style="padding: 30px;">
						<div class="input-group" style="justify-content: flex-end;">
							<form class="form-inline my-2 my-lg-0 justify-content-end"
								action="/festival/festivalSelectAll">
								<input type="hidden" name="pageIndex" th:value="1" />
								<select class="selectpicker" name="searchCondition" id="searchCondition"
									title="검색항목을 선택해주십시오.">
									<option value="FESTIVAL_NAME"
										th:selected="${searchVO.searchCondition == 'FESTIVAL_NAME'}">축제이름</option>
									<option value="FESTIVAL_ADDRESS"
										th:selected="${searchVO.searchCondition == 'FESTIVAL_ADDRESS'}">주소</option>
								</select>
								<input class="form-control mr-sm-2" type="search" placeholder="Search"
									aria-label="Search" name="searchKeyword">
								<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
							</form>
						</div>
					</div>





					<!-- 축제목록 start-->
					<div class="container-fluid py-5">
						<div class="container pt-5 pb-3">
							<div class="text-center mb-3 pb-3">
								<h6 class="text-primary text-uppercase" style="letter-spacing: 5px;"
									th:text="${param.searchKeyword != null ? param.searchKeyword : '전국'}">전국
								</h6>
								<h1>축제 목록</h1>
								<!-- 축제목록 end-->
								<!--</form>-->
							</div>
							<div class="row" id="destinationList">
								<th:block th:each="vo : ${festivalListVO}">
									<div class="col-lg-4 col-md-6 mb-4">
										<div class="destination-item position-relative overflow-hidden mb-2">
											<!--										<img class="img-fluid" src="/img/destination-1.jpg" alt="">-->
											<img class="img-fluid" style="max-width: 100%; height: auto;"
												th:if="${vo.festivalImg == null or vo.festivalImg == ''}"
												src="/img/destination-1.jpg" alt="기본이미지대체텍스트" />
											<!-- 이미지가 비어 있지 않은 경우에는 해당 이미지를 사용 -->
											<img class="img-fluid" style="max-width: 100%; height: auto;"
												th:if="${vo.festivalImg != null and vo.festivalImg != ''}"
												th:src="${vo.festivalImg}" alt="이미지대체텍스트" />
											<!--										<img class="img-fluid" th:src="${vo.festivalImg}" alt="">-->

											<a class="destination-overlay text-white text-decoration-none"
												th:href="@{|/festival/festivalDetails?festivalNum=${vo.festivalNum}|}">
												<h5 class="text-white"><span th:text="${vo.festivalAddress}"></span>
												</h5>
												<span th:text="${vo.festivalName}"></span>
											</a>
										</div>
									</div>

								</th:block>


								<!--페이징 시작-->
								<div th:if="${searchVO.pageIndex != null}">
									<div id="pagination">
										<ul>
											<!-- 이전 버튼 -->
<li>
    <a th:href="'javascript:void(0)'"
       th:attr="data-pageNumber=${paginationInfo.currentPageNo - 1}, data-searchCondition=${searchVO.searchCondition}"
       th:class="${paginationInfo.currentPageNo == 1 ? 'disabled' : ''}">
       &laquo; 이전
    </a>
</li>


											<!-- 페이지 링크 -->
											<th:block
												th:each="pageNumber : ${#numbers.sequence(paginationInfo.firstPageNoOnPageList, paginationInfo.lastPageNoOnPageList)}">
												<li>
													<a th:href="'javascript:void(0)'" th:text="${pageNumber}"
														th:attr="data-pageNumber=${pageNumber}, data-searchCondition=${searchVO.searchCondition}"
														th:class="${pageNumber == paginationInfo.currentPageNo ? 'active' : ''}">
													</a>
												</li>
											</th:block>



										<!-- 다음 버튼 -->
<li>
    <a th:href="'javascript:void(0)'"
       th:attr="data-pageNumber=${paginationInfo.currentPageNo + 1}, data-searchCondition=${searchVO.searchCondition}"
       th:class="${paginationInfo.currentPageNo == paginationInfo.totalPageCount ? 'disabled' : ''}">
       다음 &raquo;
    </a>
</li>

										</ul>
									</div>
								</div>
								<!--페이징 끝-->

								<script th:inline="javascript">
									$(document).ready(function () {
										updatePagination();
										// 페이지 링크 및 이전/다음 버튼 클릭 시
										$('#pagination a').on('click', function (e) {
											e.preventDefault();
											var pageNumber = $(this).attr('data-pageNumber');
											var searchCondition = $(this).attr('data-searchCondition'); // 새로운 줄 추가

											if (pageNumber) {
												searchForm.pageIndex.value = pageNumber;
												searchForm.searchCondition.value = searchCondition; // 수정된 부분
												searchForm.submit();
											}


										});


										function updatePagination() {
											// 현재 페이지 번호
											var currentPage = parseInt(/*[[${paginationInfo.currentPageNo}]]*/);
											// 전체 페이지 수
											var totalPages = parseInt(/*[[${paginationInfo.totalPageCount}]]*/);

											// 이전 버튼 비활성화
											if (currentPage === 1) {
												$('#pagination li:first-child').addClass('disabled');
											} else {
												$('#pagination li:first-child').removeClass('disabled');
											}


											// 다음 버튼 비활성화
											if (currentPage >= totalPages) {
												$('#pagination li:last-child').addClass('disabled');
											} else {
												$('#pagination li:last-child').removeClass('disabled');
											}

											// 페이지 링크 비활성화
											$('#pagination li').each(function () {
												var pageNumber = parseInt($(this).find('a').attr('data-pageNumber'));
												if (pageNumber === currentPage) {
													$(this).find('a').addClass('active');
												} else {
													$(this).find('a').removeClass('active');
												}
											});


										}
									});
									//지역목록 시작
									$(".regionBtn").click(function () {

										//		var region = $(this).text();
										var region = $(this).val();
										console.log(region);




										$("input[name='pageIndex']").val(1);
										$("input[name='searchKeyword']").val(region);
										searchForm.submit();

									});

									//전국버튼클릭시 /festival리로드 
									$("#AllRegionBtn").click(function () {
										// '/festival' 페이지로 이동합니다.
										window.location.href = '/festival/festivalSelectAll';
									});

								</script>
							</div>
						</div>
					</div>
				</div>

</html>