<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_content(title)">
	<div class="container">
		<div class="input-form-backgroud row">
			<div class="input-form col-md-12 mx-auto">
				<h4 class="mb-3">[[${title}]]</h4>
				<form class="validation-form" novalidate action="m_updateOK"
					method="post">

					<div class="mb-3">
						<label for="productNum">상품 등록 번호</label> : <span th:text="${vo2.productNum}"></span> <input type="hidden" class="form-control"
							name="productNum" id="productNum" placeholder="" th:value="${vo2.productNum}" required>
						<div class="invalid-feedback"></div>
					</div>
					<div class="mb-3">
						<label for="productMid">판매자 아이디</label> : <span th:text="${vo2.productMid}"></span> <input type="hidden" class="form-control"
							name="productMid" id="productMid" placeholder="" th:value="${vo2.productMid}" required>
						<div class="invalid-feedback"></div>
					</div>
					<div class="mb-3">
						<label for="productTitle">상품명</label> :  <input type="text"
							class="form-control" name="productTitle" id="productTitle" placeholder=""
							th:value="${vo2.productTitle}" required>
						<div class="invalid-feedback">상품명을 입력해주세요.</div>
					</div>
					<div class="mb-3">
						<label for="productPrice">상품 금액</label> <input type="text"
							class="form-control" name="name" id="name" placeholder=""
							th:value="${vo2.name}" required>
						<div class="invalid-feedback">NAME 입력해주세요.</div>
					</div>
					<div class="mb-3">
						<label for="tel">TEL</label> <input type="text"
							class="form-control" name="tel" id="tel" placeholder=""
							th:value="${vo2.tel}" required>
						<div class="invalid-feedback">TEL 입력해주세요.</div>
					</div>


					<hr class="mb-4">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="aggrement"
							checked required> <label class="custom-control-label"
							for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
					</div>
					<div class="mb-4"></div>
					<button class="btn btn-primary btn-lg btn-block" type="submit">수정
						완료</button>
				</form>
			</div>
		</div>
	</div>
</div>
</html>