<!DOCTYPE html>
<lang="en" xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="common_content(title)">
		<div class="container">
			<di class="input-form-backgroud row">
				<div class="input-form col-md-12 mx-auto">

					<h4 class="mb-3">[[${title}]]</h4>
					<style>
						.custom-font {
							font-family: 'Nanum Pen Script', cursive;
							/* Nanum Pen Script 폰트를 사용합니다. */
						}

						.image-container {
							width: 100%;
							/* 이미지 컨테이너의 너비를 부모 요소에 맞춤 */
							height: 200px;
							/* 원하는 높이 설정 */
							overflow: hidden;
							/* 이미지가 넘칠 경우를 대비하여 오버플로우 제어 */
							position: relative;
							/* 포지션 상대 지정 */
							display: flex;
							justify-content: center;
							align-items: center;
						}

						.image-container img {
							width: 100%;
							/* 이미지의 너비를 자동으로 설정 */
							height: 100%;
							/* 이미지를 부모 요소의 높이에 맞추어 줌 */
							max-width: none;
							/* 이미지의 최대 너비를 제한하지 않음 */
							object-fit: cover;
							/* 이미지 비율 유지하며 부모 요소에 맞춤 */
							position: relative;
						}
					</style>

					<!-- Header Start -->
					<div class="container-fluid page-header">
						<div class="container">
							<div class="d-flex flex-column align-items-center justify-content-center"
								style="min-height: 400px">
								<h3 class="display-4 text-white text-uppercase">여행상품쇼핑</h3>
							</div>
						</div>
					</div>
					<!-- Header End -->

					<!-- 상품리스트 Start -->
					<div class="container-fluid py-5">
						<div class="container pt-5 pb-3">

							<div class="text-center mb-3 pb-3">
								<h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">여행 상품</h6>
								<h1>Pefect Tour Packages</h1>
							</div>


							<!--	정렬하기-->
							<form action="orderBy">
								<select class="custom-select px-4" name="orderBy" style="width: 100px;">
									<option value="productPrice">가격순</option>
									<option value="productInventory">재고순</option>
								</select>
								<button type="submit" class="btn btn-primary mt-1">정렬</button>
							</form>

							<!--	검색-->
							<div style="margin-top: 10px;">
								<form action="searchList" style="display: flex; align-items: center;">
									<select class="custom-select px-4" name="searchKey"
										style="width: 100px; margin-right: 10px;">
										<option value="productTitle">상품명</option>
										<option value="productMid">모집인원</option>
									</select>

									<input type="search" placeholder="검색어" aria-label="Search" name="searchWord"
										class="form-control" style="width: 200px; height: 38px; margin-right: 10px;">
									<button type="submit" class="btn btn-primary mt-1">검색</button>
								</form>
							</div>
							<!-- 상품등록-->
							<div style="margin-top: 10px;">
								<a href="insert" class="btn btn-primary mt-1">상품 등록하기</a>
							</div>

							<div class="row">
								<!-- 각 상품 정보를 동적으로 생성 -->
								<th:block th:each="product : ${productList}">
									<div class="col-lg-4 col-md-6 mb-4">
										<a th:href="@{'selectOne?productNum=' + ${product.productNum}}">
											<div class="package-item bg-white mb-2">
												<div class="image-container">
													<img class="img-fluid"
														th:src="@{'/uploadimgPath/' + ${product.productImage}}" alt="">
												</div>
												<div class="p-4">
													<div class="d-flex justify-content-between mb-3">
														<small class="m-0"><i
																class="fa fa-map-marker-alt text-primary mr-2"><span
																	class="custom-font">판매자</span></i>
															<p></p>
															<span th:text="${product.productMid}"></span>
														</small>
														<small class="m-0"><i
																class="fa fa-calendar-alt text-primary mr-2"><span
																	class="custom-font">상품명</span></i>
															<p></p>
															<span th:text="${product.productTitle}"></span>
														</small>
														<small class="m-0"><i class="fa fa-user text-primary mr-2"><span
																	class="custom-font">모집인원</span></i>
															<p></p>
															<span th:text="${product.productInventory}"></span> 명
														</small>
													</div>
													<p></p>
													<a class="h5 text-decoration-none"
														th:href="@{'selectOne?productNum=' + ${product.productNum}}"
														th:text="${product.productContent}">Discover amazing places of
														the
														world
														with us</a>
													<div class="border-top mt-4 pt-4">
														<div class="d-flex justify-content-between">
															<!--													<h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i><span-->
															<!--															th:text="${product.productInventory}"></span> <small>-->
															<!--														</small></h6>-->
															<h5 class="m-0">￦<span
																	th:text="${product.productPrice}"></span>
															</h5>

														</div>
													</div>
												</div>
											</div>
										</a>
									</div>
								</th:block>
								<!-- 각 상품 정보 생성 끝 -->
							</div>
							<center>
								<th:block th:each="i : ${#numbers.sequence(1,totalPageCount)}">
									<th:block th:if="${param.searchKey}== null and ${param.orderBy}== null">
										<a th:href="|selectAll?cpage=${i}|">[[${i}]] &nbsp;</a>
									</th:block>
									<th:block th:if="${param.searchKey}!= null">
										<a
											th:href="@{searchList(cpage=${i},searchKey=${param.searchKey},searchWord=${param.searchWord})}">[[${i}]]
											&nbsp;</a>
									</th:block>
									<th:block th:if="${param.orderBy}!= null">
										<a th:href="@{orderBy(cpage=${i},orderBy=${param.orderBy})}">[[${i}]]
											&nbsp;</a>
									</th:block>
								</th:block>
							</center>
						</div>
					</div>
					<!-- Packages End -->





					</html>