<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>구매하기</title>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="./bulma.min.css" />
    <script src="https://js.tosspayments.com/v1"></script>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      header {
        background-color: #7CB833;
        color: #fff;
        padding: 20px;
        text-align: center;
      }
      section {
        padding: 20px;
      }
      .button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .button-container button {
        margin: 10px;
      }
    </style>
  </head>

  <body>
    <header>
      <h1>토스페이먼츠 연동 결제</h1>
    </header>
    <section>
      <div class="button-container">
        <button class="button is-link" onclick="pay('카드',jsons.card);">일반결제창</button>
        <button class="button is-link" onclick="pay('계좌이체',jsons.transfer);">계좌이체</button>
        <button class="button is-link" onclick="pay('휴대폰',jsons.phone);">휴대폰</button>
        <button class="button is-link" onclick="pay('문화상품권',jsons.certificate);">문화상품권</button>
        <button class="button is-link" onclick="pay('도서문화상품권',jsons.bookcert);">도서문화상품권</button>
        <button class="button is-link" onclick="pay('게임문화상품권',jsons.gamecert);">게임문화상품권</button>
      </div>
    </section>
  </body>

  <script>
    let tossPayments = TossPayments("test_ck_D5GePWvyJnrK0W0k6q8gLzN97Eoq");

    function getQueryVariable(variable) {
      var query = window.location.search.substring(1);
      var vars = query.split("&");
      for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split("=");
        if (pair[0] === variable) {
          return pair[1];
        }
      }
      return null;
    }

    let orderId = new Date().getTime().toString();
    let amount = getQueryVariable("amount");
    let orderName = decodeURIComponent(getQueryVariable("orderId"));
    console.log('[[${param.cartNum}]]');
    let path = "/";
    let successUrl = window.location.origin + path + "success1?cartNum="+'[[${param.cartNum}]]';
    let failUrl = window.location.origin + path + "fail";
    let callbackUrl = window.location.origin + path + "va_callback";

    let jsons = {
      card: {
        amount: amount,
        orderId: orderId,
        orderName: orderName, // 상품명 예시
        successUrl: successUrl,
        failUrl: failUrl,
        customerName: "고객명", // 고객명 예시
      },
      
      transfer: {
        amount: amount,
        orderId: orderId,
        orderName: "계좌이체 상품", // 상품명 예시
        successUrl: successUrl,
        failUrl: failUrl,
        customerName: "고객명", // 고객명 예시
      },
      phone: {
        amount: amount,
        orderId: orderId,
        orderName: "휴대폰 상품", // 상품명 예시
        successUrl: successUrl,
        failUrl: failUrl,
        mobileCarrier: null,
      },
      certificate: {
        amount: amount,
        orderId: orderId,
        orderName: "문화상품권 상품", // 상품명 예시
        successUrl: successUrl,
        failUrl: failUrl,
      },
      bookcert: {
        amount: amount,
        orderId: orderId,
        orderName: "도서문화상품권 상품", // 상품명 예시
        successUrl: successUrl,
        failUrl: failUrl,
      },
      gamecert: {
        amount: amount,
        orderId: orderId,
        orderName: "게임문화상품권 상품", // 상품명 예시
        successUrl: successUrl,
        failUrl: failUrl,
      },
    };

    function pay(method, requestJson) {
      console.log(requestJson);
      tossPayments.requestPayment(method, requestJson).catch(function (error) {
        if (error.code === "USER_CANCEL") {
          alert("유저가 취소했습니다.");
        } else {
          alert(error.message);
        }
      });
    }
  </script>
</html>