<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>관리자 채팅 룸</title>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <style>
        #chat-messages { margin-bottom: 20px; overflow: auto; height: 300px; }
        .message { padding: 10px; margin-bottom: 5px; border-radius: 10px; }
        .admin { background-color: rgb(255, 255, 128); }
        .user { background-color: #aef1ae; text-align: right; }
        #chat-form input, #chat-form button { width: 100%; padding: 10px; margin-top: 5px; }
    </style>
    <script th:inline="javascript">
        var chatRoomId = /*[[${chatRoomId}]]*/ 'defaultRoomId';
        var stompClient = null;
        var isSubscribed = false; // 구독 완료 상태를 추적하는 플래그

        document.addEventListener('DOMContentLoaded', function() {
            connect();
            var chatForm = document.getElementById('chat-form');
            chatForm.addEventListener('submit', function(event) {
                event.preventDefault();
                if(isSubscribed) {
                	sendMessage();
                }else {
					alert('서버와의 연결이 원활하지 않습니다. 잠시 후 다시 시도해주세요.');
				}
            });
        });

        function connect() {
    		var socket = new SockJS('/ws');
    		stompClient = Stomp.over(socket);
    		stompClient.connect({}, function(frame) {
        		console.log('Connected: ' + frame);
        		stompClient.subscribe('/topic/' + chatRoomId, function(message) {
					isSubscribed = true; //구독 완료 플래그 설정
            		console.log('Subscription to ' + chatRoomId + ' successful');
            		showMessage(JSON.parse(message.body));
        		});
    		}, function(error) {
        		console.log('Connection failed: ' + error);
        		setTimeout(connect, 5000);  // 5초 후에 재시도
    		});
		}

        function showMessage(message) {
            var chatMessages = document.getElementById('chat-messages');
            var messageElement = document.createElement('div');
            messageElement.className = 'message ' + (message.sender === 'Admin' ? 'admin' : 'user');
            messageElement.textContent = message.sender + ': ' + message.message;
            chatMessages.appendChild(messageElement);
        }

        function sendMessage() {
            var messageInput = document.getElementById('chat-input');
            var message = messageInput.value.trim();
            if (message && stompClient) {
                var chatMessage = {
                    sender: 'Admin',
                    message: message,
                    chatRoomId: chatRoomId
                };
                stompClient.send("/app/chat/" + chatRoomId, {}, JSON.stringify(chatMessage));
                messageInput.value = '';
            }
        }
    </script>
</head>
<body>
    <h1>관리자 채팅 룸 #<span th:text="${chatRoomId}"></span></h1>
    <div id="chat-messages"></div>
    <form id="chat-form">
        <input type="text" id="chat-input" placeholder="메세지를 입력해주세요." autocomplete="off">
        <button type="submit">전송</button>
    </form>
</body>
</html>