<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="thymeleaf/header :: common_header(title)">
<title>우리동네풀코스</title>
<!-- 공통 CSS-->
<link href="/css/main.css" rel="stylesheet">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<div th:replace="thymeleaf/top_menu2 :: test_top_menu"></div>

	<nav class="container-fluid">
        
    </nav>
    <main class="container">
        <div class="grid">
            <section>
                <hgroup>
                    <h2>Welcome!</h2>
                    <h3>아래 버튼을 클릭하여 사이트 관리자와 채팅을 시작하세요.</h3>
                </hgroup>
                <form th:action="@{/chat/new}" method="post" class="grid">
                    <button type="submit" class="button-primary">문의하기 채팅 시작!</button>
                </form>
            </section>
        </div>
    </main>
		
	<div th:replace="thymeleaf/footer :: test_copy"></div>
</body>
</html>