<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_content(title)">
	<div class="container">
		<div class="input-form-backgroud row">
			<div class="input-form col-md-12 mx-auto">

				<h4 class="mb-3">[[${title}]]</h4>

				<!-- 즐겨찾기 관광지 Start -->
				<div class="container-fluid py-5">
					<div class="container pt-5 pb-3">
						<div class="text-center mb-3 pb-3">
							<h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">즐거찾기</h6>
							<h1>관광지</h1>
						</div>
						<div class="row">
							<th:block th:each="vo : ${vosTour}">
								<div class="col-lg-4 col-md-6 mb-4">
									<a th:href="|wishList/deleteOK?wishListNum=${vo.wishListNum}|">삭제</a>
									<div class="destination-item position-relative overflow-hidden mb-2">
										<img class="img-fluid" th:src="${vo.tourImg}" alt="">
										<a class="destination-overlay text-white text-decoration-none"
											th:href="@{|/tour/tourDetails?tourNum=${vo.tourNum}|}">
											<h5 class="text-white" th:text="${vo.tourAddress}">United States</h5>
											<span th:text="${vo.tourName}">100 Cities</span>
										</a>
									</div>
								</div>
							</th:block>
						</div>
						<br>
						<center>
							<th:block th:each="i : ${#numbers.sequence(1,totalPageCountTour)}">
								<a th:href="@{wishList(tpage=${i},fpage=${param.fpage})}">[[${i}]] &nbsp;</a>
							</th:block>
							</th:block>
						</center>
					</div>
				</div>
				<!-- 즐겨찾기 관광지 Start -->

				<!-- 즐겨찾기 축제 Start -->
				<div class="container-fluid py-5">
					<div class="container pt-5 pb-3">
						<div class="text-center mb-3 pb-3">
							<h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">즐거찾기</h6>
							<h1>축제</h1>
						</div>
						<div class="row">
							<th:block th:each="vo : ${vosFestival}">
								<div class="col-lg-4 col-md-6 mb-4">
									<a th:href="|wishList/deleteOK?wishListNum=${vo.wishListNum}|">삭제</a>
									<div class="destination-item position-relative overflow-hidden mb-2">
										<img class="img-fluid" th:src="${vo.festivalImg}" alt="">
										<a class="destination-overlay text-white text-decoration-none"
											th:href="@{|/festival/festivalDetails?festivalNum=${vo.festivalNum}|}">
											<h5 class="text-white" th:text="${vo.festivalAddress}">United States</h5>
											<span th:text="${vo.festivalName}">100 Cities</span>
										</a>
									</div>
								</div>
							</th:block>
						</div>
						<br>
						<center>
							<th:block th:each="j : ${#numbers.sequence(1,totalPageCountFestival)}">
								<a th:href="@{wishList(fpage=${j},tpage=${param.tpage})}">[[${j}]] &nbsp;</a>
							</th:block>
							</th:block>
						</center>
					</div>
				</div>
				<!-- 즐겨찾기 관광지 Start -->

			

				<!-- 경고 메시지가 있는 경우 JavaScript로 alert 창을 표시 -->
				<script th:if="${warningMessageTour != null}">
					$(document).ready(function () {
						var warningMessage = "[[${warningMessageTour}]]";
						alert(warningMessage);
					});
				</script>

				<script th:if="${warningMessageFestival != null}">
					$(document).ready(function () {
						var warningMessage = "[[${warningMessageFestival}]]";
						alert(warningMessage);
					});
				</script>

			</div>
		</div>
	</div>
</div>



</html>